/* CSS Styles */

body {
    font-family: arial, sans-serif;
    font-size: 13px;
    display: block;
    height: 100%;
    width: 100%;
    min-width: 980px;
    position: absolute;
    top: 0;
}
.logo {
    width: 272px;
    margin: 0 auto;
    padding-top: 120px;
    display: block;
}

.search-box {
    position: relative;
    top: 25px;
    width: 584px;
    height: 44px;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
}

.search {
    border: none;
    background-color: transparent;
    height: 34px;
    width: 550px;
    position: relative;
    top: 5px;
    left: 15px;
}

.button-box {
    position: relative;
    top: 48px;
    margin: 0 auto;
    width: 300px;
}

.button {
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}

.button:hover {
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

ul {
    display: block;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}

.footer {
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
    bottom: 0;
    height: 30px;
    width: 100%;
    position: absolute;
    display: block;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    opacity: 0.75;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
}

.li-right {
    float: right;
}

/* Underline the link on hover */
li a:hover {
    text-decoration: underline;
}